	<div class="container ">
		<div class="row">
			
			<div class="container-fluid">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div ng-controller="signupCtrl">
						<form role="form" name="signupForm" ng-submit="signup()" novalidate>
								<div class="form-group">
									<input type="text" class="form-control" id="username" name="username" placeholder="Логин" ng-model="username" ng-required>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="password" name="password" placeholder="Пароль" ng-model="password" ng-required>
								</div>
								<div class="form-group">
									<input type="password" ng-class='{ "has-error" : password != passwordConf}' class="form-control" id="passwordConf" name="passwordConf" placeholder="Подтверждение пароля" ng-model="passwordConf" ng-required>
								</div>
								<div class="form-group" ng-class="{ 'has-error' :   signup.email.$invalid && !signup.email.$pristine }">
									<input type="email" class="form-control" name="email" ng-model="email" placeholder='Email'>
									<div class="help-block" ng-messages="signup.email.$error" ng-show="!signup.email.$pristine">
										<p ng-message="email">Некорректный email</p>
									</div>
								</div>	
								
								<div ng-class='{err: loginError}'>{{ loginError }}</div>
								<input type="submit" class="btn btn-default btn-block" value="Войти"><br>
						</form>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>		
	</div>